body {
    padding: 0;
    margin: 0;
}

button {
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}

button:hover {
    background-color: bisque;
    cursor: pointer;
}

header {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid black;
    border-color: black;
    display: flex;
    flex-direction: row;
}

.control-table {
    width: 100%;
}

.login-input {
    padding-top: 5px;
    padding-left: 5px;
}

.line {
    border-right: 2px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th:first-child {
    width: 100px;
}

th:last-child {
    width: 100px;
    display: flex;
    flex-direction: row;
}

td:first-child {
    flex-direction: row;
    width: 150px;
}

td:first-child button {
    height: 20px;
    width: 20px;
    font-size: 5px;
}

td:last-child {
    width: 100px;
}

th:nth-last-child(2), td:nth-last-child(2) {
    border-right: 2px solid #000;
}

select{
    max-width: 70px;
}

#control-tables{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 100%;
    background-color: blue;
}

#presets-table{
    background-color: red;
    width: 100%;
}

#ips-table{
    background-color: green;
    width: 100%;
}

#ips-table, #presets-table{
    padding: 5px;
}